<!--HOME TEMPLATE-->


{{!--
<div id="image-slider">
    <carousel-3d :controls-visible="true" :clickable="false">
        <slide v-for="(slide, i) in slides" :index="i">
            <figure>
                <img src="http://lorempixel.com/500/335/">
                <figcaption>
                    The sky is the limit only for those who aren't afraid to fly! The sky is the limit only for those who aren't afraid to fly!
                </figcaption>
            </figure>
        </slide>
    </carousel-3d>
    <div id="controls"></div>
</div>--}}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {{!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>--}}

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../images/avatar.jpeg" alt="Los Angeles">
        </div>

        <div class="item">
            <img src="../images/avatar.jpeg" alt="Chicago">
        </div>

        <div class="item">
            <img src="../images/avatar.jpeg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--Primary content-->
<div id="features">
    <div class="wrapper-center">
        <ul id="features-list">
            <li>
                <img src="images/f1-icon.png" alt="feature-icon" id="f-1" />
                <div class="f-1">
                    <h2>What We Offer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                        id fringilla purus feugiat.
                    </p>
                    <form action="/">
                        <input type="image" src="images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
            <li>
                <img src="images/f2-icon.png" alt="feature-icon" id="f-2" />
                <div class="f-1">
                    <h2>Who We Are</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id
                        fringilla purus feugiat.
                    </p>
                    <!--<form action="/action_page.php">-->
                    <form action="">
                        <input type="image" src="images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
            <li class="last">
                <img src="images/f3-icon.png" alt="feature-icon" id="f-3" />
                <div class="f-1">
                    <h2>Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla
                        purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis ac libero interdum, id
                        fringilla purus feugiat. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                    </p>
                    <form action="/action_page.php">
                        <input type="image" src="images/readmore.png" alt="Read more" class="read-more">
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div id="info">
        <div class="wrapper-center">
            <img src="images/quote.png" alt="quote-icon" id="quote" />
            <p>Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien.
                Quisque tincidunt, nunc vitae adipiscing</p>
        </div>
    </div>
    <!--End info-->
    <div class="wrapper-center">
        <img src="images/additional-info.png" alt="additional-info-icon" id="additional-info" />
    </div>
    <div id="recent-work">
        <div class="wrapper-center">
            <ul class="work">
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End features and content-->