<div class="wrapper-center" id="login-form">
    <div class="text-center" id="login-text">
        <h1><b>Log In</b></h1>
    </div>
    <form id="ajax-login-form">
        <div class="form-group">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="" autocomplete="on">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                    <input type="submit" name="login-submit" id="login-submit" class="btn btn-success" value="Log In">
                </div>
            </div>
        </div>

        <!--<input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">-->
    </form>
</div>