
<div id="features">
    <h1 class="above">Missions That You Can Choose From</h1>
    <div id="missions-path">Home >> Missions That You Can Choose From</div>
    <div id="recent-work">
        <div class="wrapper-features">
            {{#each photos}}
            <ul class="work">
                <li>
                    <div><img class="work-box" src="{{image}}" alt=""></div>
                </li>
                {{!--
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>--}}
            </ul>
            {{/each}}
        </div>
    </div>
</div>