<section id="primary-content">
<div id="features">
    <div class="wrapper-center">
    <h1 class="above">Gallery Of Volunteer Experiences</h1>
    <div id="gallery-path">Home >> Gallery Of Volunteering Experiences</div>
    </div>
    <div id="recent-work">
        <div class="wrapper-gallery">
            {{#each photos}}
            <ul class="work">
                <li>
                    <div><img class="work-box" src="{{image}}" alt=""></div>
                </li>
                {{!--
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>--}}
            </ul>
            {{/each}}
        </div>
    </div>
</div>
</section>