<div id="features">
    <div id="recent-work">
        <div class="wrapper-center">
            {{#each photos}}
            <ul class="work">
                <li>
                    <div ><img class="work-box" src="{{image}}" alt=""></div>
                </li>
                {{!--<li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                 <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>--}}
            </ul>
            {{/each}}
        </div>
    </div>
</div>