<div id="features">
    <div id="recent-work">
        <div class="wrapper-center">
            <ul class="work">
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
                 <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li>
                    <div class="work-box"></div>
                </li>
                <li class="last">
                    <div class="work-box"></div>
                </li>
            </ul>
        </div>
    </div>
</div>