<div class="wrapper-center">
<div class="mainbody container-fluid" id="my-profile">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="/public/images/avatar.jpeg" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <h1>Username</h1>
                            <h3>Email: </h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <hr>
            <h1>This is USERNAME's Profile</h1>
            <div class="row">
                 <div class="col-xs-6 ">
                    <a href="#/missions" id="missions-redirect" type="button" class="btn btn-success">Select a Mission</a>
                 </div>
            </div>
                <hr>
                <h4><strong>Here you can select from a number of volunteer missions!</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                <hr>
            
        </div>
    </div>
</div>
</div>
