<div class="wrapper-center" id="register-form">
    <div class="text-center" id="register-text">
        <h1><b>Register</b></h1>
    </div>
    <form id="ajax-register-form" role="form" autocomplete="off">
        <div class="form-group">
            <input type="text" name="name" id="name-register" tabindex="1" class="form-control" placeholder="Name" value="">
        </div>
        <div class="form-group">
            <input type="text" name="username" id="username-register" tabindex="1" class="form-control" placeholder="Username" value="">
        </div>
        {{!--<div class="form-group">
            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
        </div>--}}
        <div class="form-group">
            <input type="password" name="password" id="password-register" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" name="confirmpassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                    <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-info">Register Now</button>
                </div>
            </div>
        </div>
    </form>
</div>