@font-face {
    font-family: BlackJackRegular;
    src: url('../fonts/blackjack.otf');
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans.ttf');
}

@font-face {
    font-family: ColaborateThin;
    src: url('../fonts/ColabThi.otf');
}

html,
body,
head {
    margin: 0;
    padding: 0;
    background: url("../images/BG.png");
    height: 100%;
    width: 100%;
}

header {
    margin: 0;
    padding: 0;
    height: 180px;
}

#logo {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 36pt;
    /*font-family: BlackJackRegular;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D0D0D0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.wrapper-center {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    width: 100%;
    /*border: 1px solid yellow;*/
}

A .container-fluid {
    margin: 0;
    padding: 0;
}

#nav {
    /* background: linear-gradient(50deg, #323b44 0%, #222930 80%, #13191f 100%); */
    padding: 0;
    margin: 0;
    padding-left: 5px;
    background-color: #323b44;
    height: 49px;
    border-radius: 10px;
    border-style: none;
    border-top: .5px solid #798897;
    box-shadow: 0 1px #354350;
}

.navbar-header {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.container-fluid::before {
    margin-left: 20px;
}

#nav li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#nav li a {
    /*TODO - check font size*/
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 22px;
    text-decoration: none;
    font-family: DroidSans;
    text-shadow: 1px 1px 0 black;
}

#nav li a:hover {
    font-style: italic;
    color: #8d96a0;
}

.share {
    float: right;
}

.share img {
    margin-top: 18px;
    margin-right: 3px;
    height: 14px;
    width: 14px;
}

.share:last-child img {
    margin-top: 18px;
    margin-right: 19px;
    height: 13px;
    width: 13px;
}

.share-icon {
    padding: 0 !important;
}

.share-icon img {
    opacity: 0.4;
}


/*end navigation*/


/* footer */

footer {
    padding: 0;
    margin: 0;
    max-height: 360px;
    background: url('../images/footer.png');
}

#footer-content {
    padding: 0;
    margin: 0;
}

#footer-content>li {
    padding: 0;
    margin: 0;
    width: 239px;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
}

@-moz-document url-prefix() {
    #footer-content>li {
        height: 289px;
    }
}

#footer-content>li>h2 {
    font-family: ColaborateThin;
    font-size: 24px;
    color: white;
    margin-bottom: 12px;
}

#footer-content>li>p {
    margin-top: 5px;
    color: #88949D;
    font-family: DroidSans;
    line-height: 140%;
}

#nested li {
    list-style: disc outside none;
    display: list-item;
    margin-left: 1.2em;
    margin-bottom: 10px;
    font-family: DroidSans;
    font-size: 12px;
    color: #88949D;
}


/*.foo-1 {
    margin-right: 123px !important;
}

.foo-2 {
    width: 256px !important;
    margin-right: 95px !important;
}
*/

#nav-footer {
    height: 65px;
    background-color: #0f1419;
}

#nav-footer ul {
    float: left;
}

#nav-footer ul li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 15px 26px 0;
}

#nav-footer ul li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#nav-footer ul li a:hover {
    font-style: italic;
    color: #8D96A0;
}

small {
    color: #8D96A0;
    float: right;
    margin-top: 26px;
}

small>p {
    color: white;
    display: inline;
}