@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

#my-profile {
    background: url('../images/content-box.png');
}

#missions-redirect {
    background-color: #009D88;
    color: #E7E7E7;
    font-size: 100%;
}

#missions-redirect:hover {
    background-color: #1F4547;
    color: #E7E7E7;
    font-size: 100%;
}