#register-form {
    background: url('../images/content-box.png');
    padding-top: 5%;
    padding-bottom: 5%;
}

#ajax-register-form {
    max-width: 500px;
    box-sizing: border-box;
    margin: 5% auto;
    text-align: center;
}

.register-header h1 {
    font-size: 80px;
}